<!-- ko if: vm.show -->
<div class="itemEntry">
  <label class="headline" data-bind="text: vm.name"></label>
  <img data-bind="attr: { src: 'img/warframe-img/' + vm.imgUrl }">
  <span class="data">
    <span>
      <label>Obtainable:</label>
      <input type="checkbox" data-bind="checked: vm.obtainable" disabled>
    </span>
    <span>
      <label for="1">Obtained:</label>
      <input id="1" type="checkbox" data-bind="checked: vm.obtained">
    </span>

    <extendcontent params="show: vm.showComponents, headline: 'Components'">
      <span class="components">
        <!-- ko foreach: $parent.vm.components -->
          <componententry params="vm: $data"></componententry>
        <!-- /ko -->
      </span>
    </extendcontent>
  </span>
</div>
<!-- /ko -->