.itemEntry {
  padding: 3px;
  display: flex;
  flex-direction: row;
}

.itemEntry>img {
  width: 128px;
  object-fit: contain;
  align-self: start;
  flex: 0;
}
.itemEntry > .data {
  flex: 1;
}

.itemEntry > .data > .headline {
  display: block;
  font-weight: bold;
}

.itemEntry .components {
  display: flex;
  flex-direction: row;
}

.itemEntry .components > * {
  border-style: solid;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}

.itemEntry .components > *:last-child {
  border-right-width: 1px;
}